<div class="todo-container">
    <h2 *ngIf="items.length">My Todo List</h2>
    <div class="row">
        <div class="col" *ngFor="let item of items; let i = index;">
            <div class="card" [style.background-color]="getCardColor(i)" style="width: 20rem;">
                <div class="card-body">
                    <h5 class="card-title">{{ item.name }}</h5>
                    <button class="btn btn-warning card-link" (click)="editItem(i)">Edit</button>
                    <button class="btn btn-danger card-link" (click)="deleteItem(i)">Delete</button>
                    <button class="btn btn-info card-link" (click)="moveToInProgress(i)">In Progress</button>
                </div>
            </div>
        </div>
    </div>
   
    <div>
    <h2 *ngIf="inProgressItems.length">In Progress</h2>
  <div class="row">
    <div class="col" *ngFor="let item of inProgressItems; let i = index;">
      <div class="card" [style.background-color]="getCardColor(i)" style="width: 18rem;">
        <div class="card-body">
          <h5 class="card-title">{{ item.name }}</h5>
          <button class="btn btn-success card-link" (click)="moveToCompleted(i)">Move to Completed</button>
          <button class="btn btn-danger card-link" (click)="deleteInProgressItem(i)">Delete</button>
        </div>
      </div>
    </div>
  </div>
</div>

<div>
  <h2 *ngIf="completedItems.length">Completed</h2>
  <div class="row">
    <div class="col" *ngFor="let item of completedItems; let i = index;">
      <div class="card" [style.background-color]="getCardColor(i)" style="width: 18rem;">
        <div class="card-body">
          <h5 class="card-title">{{ item.name }}</h5>
        </div>
      </div>
    </div>
  </div>
</div>

    <div>
        <span class="title-todo">Your todos</span>
        <span style="border: 1px solid black; border-radius: 5px; margin: 5px;"><button mat-icon-button
                (click)="openDialog()">
                <mat-icon class="plus-icon">add</mat-icon>
            </button></span>
    </div>
</div>