<div class="container show-nav">
    <div class="content">
        <h1>Example application Created by Ajantika Bandyopadhyay.</h1>
        <small>It is an Angular App</small>
        <p>Angular CLI version used is 17.3.1 and Node version is 20</p>
        <h3>My UI Story</h3>
        <p class="navbar-brand">AJ</p>
        <p>I am working in Novartis as a specialist and have worked on three products:-</p>
        <ul><b>
                <li>ONSITE</li>
                <li>IRISK</li>
                <li>TOM</li>
            </b>
        </ul>
    </div>
</div>
<!-- <nav><ul>
     <li><i class="fas fa-home"> Home</i></li>
     <li><i class="fas fa-user-alt"> About</i></li>
     <li><i class="fas fa-envelope"> Contact</i></li>
 </ul>
 </nav> -->